@model Quickafe.Providers.Sales.ViewModels.Order.OrderDetailEntryViewModel

<div style="width: 570px;">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addEditDetailForm", name = "addEditDetailForm" }))
    {
        @Html.HiddenFor(m => m.Uid)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.ProductCode): </div>
                <div class="col-md-7">
                    @Html.HiddenFor(m => m.ProductId)
                    @Html.Kendo().TextBoxFor(m => m.ProductCode).HtmlAttributes(new { data_productlookup = Url.Action("ProductLookUp"), style = "width:100px;" })
                    <a data-id='#=Id#' href='javascript:;;' class='k-button k-button-icon editRow' id="btnBrowseProduct"><i class='fa fa-edit'></i></a>
                    @Html.Kendo().TextBoxFor(m => m.ProductName).HtmlAttributes(new { style = "width:200px;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.Qty)</div>
                <div class="col-md-7">
                    @Html.Kendo().NumericTextBoxFor(m => m.Qty).Spinners(true).Step(1).Culture("id-ID").Decimals(0).Format("#").Min(1)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.UnitPrice)</div>
                <div class="col-md-7">
                    @Html.Kendo().NumericTextBoxFor(m => m.UnitPrice).Culture("id-ID").Decimals(0).Spinners(true).Step(1000)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.DetailDiscPercent)</div>
                <div class="col-md-7">
                    @Html.Kendo().NumericTextBoxFor(m => m.DetailDiscPercent).Spinners(false).HtmlAttributes(new { style="width:50px;" })
                    &nbsp;
                    @Html.Kendo().NumericTextBoxFor(m => m.DetailDiscValue).Spinners(false)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.Notes)</div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(m => m.Notes).HtmlAttributes(new { style = "width:350px;", maxlength="100" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <button type="button" id="btnSaveDetail" name="btnSave" class="k-button">@Strings.SaveButtonText</button>
                    <button type="button" id="btnCloseDetail" name="btnClose" class="k-button">@Strings.CloseButtonText</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $("#btnCloseDetail").click(OrderDetail.closeClick);
        $("#btnSaveDetail").click(OrderDetail.saveClick);
        $("#Name").focusEnd();
        $("#ProductCode").blur(OrderDetail.ProductCodeBlur);
        $("#ProductName").bind("keydown", OrderDetail.disableKeyDown);
    });
</script>