@model Quickafe.Providers.ViewModels.ChangePasswordViewModel

<div class="page-title">Change Password</div>
<div class="container-form">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ChangePasswordForm", name = "ChangePasswordForm" }))
    {
        <div class="panel-danger">
            @Html.ValidationSummary()
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.OldPassword):</div>
                <div class="col-md-8">@Html.Kendo().TextBoxFor(m => m.OldPassword).HtmlAttributes(new { type = "password" })</div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.NewPassword):</div>
                <div class="col-md-8">@Html.Kendo().TextBoxFor(m => m.NewPassword).HtmlAttributes(new { type = "password" })</div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.ConfirmPassword):</div>
                <div class="col-md-8">@Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password" })</div>
            </div>


            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8"><button type="button" id="btnSubmit" name="btnSubmit" class="k-button"><i class="fa fa-check"></i> Confirm Change Password</button> </div>
            </div>

        </div>
    }
</div>

@section scripts{
    <script src="~/Scripts/modules/ChangePassword.js"></script>
}