@model Quickafe.Providers.ViewModels.ProductCategory.CreateEditViewModel

<div style="width: 550px;">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addEditForm", name = "addEditForm" }))
    {
        @Html.HiddenFor(m => m.Id)
        @FormHelper.RenderAuditFields(Model)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.Name): </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width:400px;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    @Html.Kendo().CheckBoxFor(m => m.IsActive)
                    &nbsp;&nbsp;&nbsp;
                    @Html.Kendo().CheckBoxFor(m => m.CanOrder)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <button type="submit" id="btnSave" name="btnSave" class="k-button">@Strings.SaveButtonText</button>
                    <button type="button" id="btnClose" name="btnClose" class="k-button">@Strings.CloseButtonText</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $("#btnClose").click(ProductCategory.closeClick);
        $("#btnSave").click(ProductCategory.saveClick);
        $("#Name").focusEnd();
    });
</script>